html {
  color: #54514c;
  font-size: 13px;
}

body {
  font-family: "Helvetica Neue" Arial, "Hiragino kaku Gothic ProN";
  padding-top: 100px;
}

figure,
footer,
header,
nav {
  display: block;
}

/*ヘッダー*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

header h1 {
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 20px;
}

header .logo img {
  width: 200px;
}

/*スライドメニュー、スマホ表示用*/
header nav.sp_open {
  right: 0;
  background: #fff; 
}
header nav{
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  right: -100%;
  overflow: auto;
  width: 100%;
  height: calc(100% - 60px);
  background: #fff;
  background-color: transparent;
  opacity: 0.9;
  display: block;
  transition: right 0.5s;
}

header nav ul {
  position: static;
  top: 0;
  left: 0;
  transform: none;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  color: #666;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
}

#drawer_toggle {
  z-index: 200;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
}

#drawer_toggle span {
  position: absolute;
  top: 19px;
  left: 17px;
  display: inline-block;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  vertical-align: top;
}

#drawer_toggle span:nth-child(2) {
  margin-top: 10px;
}

#drawer_toggle span:last-child {
  margin-top: 20px;
}

#drawer_toggle.open span {
  top: 29px;
  left: 14px;
  width: 35px;
  margin: 0;
}

#drawer_toggle.open span:first-child {
  transform: rotate(45deg);
}

#drawer_toggle.open span:nth-child(2) {
  display: none;
}

#drawer_toggle.open span:last-child {
  transform: rotate(-45deg);
}
/*pc表示のメニュー*/
header nav  {
  display: inline-block;
  position: absolute;
  top: 22px;
  right:0;
  width: auto;
  height: auto;
  margin-right: 15px;
  font-size: 1.4rem;
  opacity: 1;
}

header nav  ul {
  position: relative;
  top: 0;
  left: 0;
  transform: unset;
}

header nav ul li {
  display: inline-block;
  height: 35px;
  border-radius: 2px;
  line-height: 35px;
}

header nav ul li a {
  display: block;
  padding: 0 15px;
  color: #9c9b98;
  font-size: unset;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li:hover {
  background-color: #b99566;
}

header nav ul li:hover a {
  color: #fff;
}

/* モバイル表示でPC表示のメニューを非表示 */
@media (max-width: 768px) {
  #global_nav {
    display: none;
  }
}


/* デフォルトでナビゲーションメニューは非表示にする */
header .header_container #global_nav {
  display: none;
}

/* PC表示のメニュー */
header .header_container #global_nav {
display: block;
}

header .header_container #drawer_toggle {
display: none;
position: fixed;
top: 5px;
right: 10px;
z-index: 10000; /* メニューの上に表示 */
}

/* ハンバーガーメニューが開いたときのスタイル（全てのビューポートで有効） */
header .header_container #global_nav.sp_open {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff; /* 必要に応じて背景色を変更してください */
  z-index: 9999; /* メニューが他の要素より上に表示されるようにする */
}

@media (max-width: 768px) {
/* モバイル表示でPC表示のメニューを非表示 */
header .header_container #global_nav {
  display: none;
}

/* モバイル表示でハンバーガーメニューを表示 */
header .header_container #drawer_toggle {
  display: block;
}

/* メニュー項目を縦に並べる */
header .header_container #global_nav.sp_open ul li {
  display: block;
  text-align: center; /* センタリング */
  width: 100%;
  margin-top: 100px;
}
}


main {
  font-size: 1.6rem;
}

main h2 {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding-left: 15px;
  font-weight: normal;
  line-height: 40px;
}

main h2 span {
  display: none;
}

/*Section*/

section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*list*/
ul {
  list-style: none;
  padding-left: 0;
}

/*images*/
.content img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

/*overview*/

#overview {
  max-width: 960px;
  margin: 0 auto;
  /* 中央に配置 */
  background: #f2f2f2;
  padding: 2rem;
}

#overview h2 {
  line-height: 11rem;
}

.section {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem;
  /* 余白を追加 */
}

figure {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-evenly;
}

figure img {
  width: 180px;
  height: 180px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

figcaption {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
  line-height: 4rem;
}

#overview p {
  line-height: 3rem;
}

/* 960px以下の場合 */
@media (max-width: 960px) {
  #overview {
    max-width: 100%;
    /* 親要素の最大幅を100%に設定 */
    padding: 1rem;
    /* パディングを縮小 */
  }

  .container {
    justify-content: center;
    /* 子要素を中央に配置 */
  }

  figure img {
    width: 120px;
    /* 画像サイズを縮小 */
    height: 120px;
  }
}

/* 480px以下の場合 */
@media (max-width: 480px) {
  .section {
    margin: 0.5rem;
    /* 余白を縮小 */
  }
}

/*skill*/


/* スキルセクションのスタイル */
#skills {
  padding: 2rem;
  margin: 50px auto;
  max-width: 800px;
  border: 1px solid #ccc;
  text-align: center; /* テキストを中央寄せに設定 */
}

/* スキルアイテムのスタイル */
.skill-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-item img {
  height: auto;
  width: 80px;
  max-width: 100%;
  max-height: 80px; /* 高さを固定する */
  margin-bottom: 10px; /* 画像の下に余白を追加 */
}

/* メディアクエリ */
@media (min-width: 600px) {
  .skill-item {
    width: calc(33.33% - 20px);
    margin: 10px;
  }
}


/*works*/

#works {
  padding: 3rem;
  margin: 50px 0;
  border: 1px solid #ccc;
}

#works img {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

	.slider-container{
		width: 50%;
		margin:0 auto ;
	}

  .slick-slide{
    padding:8px;
  }
	.slick-prev,.slick-next{z-index:2;}
	.slick-prev{left:0;}
	.slick-next{right:0;}

  #thumbs .slick-current img{
  border:2px solid #000;
}

#works p {
  margin: 0 auto;
}

#works text {
  text-align: center;
}

/* スマホ用のメディアクエリ */
@media only screen and (max-width: 767px) {
  #works {
    padding: 1rem; /* パディングを小さくする */
  }

  #works img {
    height: auto; /* 高さを自動調整する */
  }

  .slider-container {
    width: 90%; /* スライダーコンテナを幅の90%にする */
  }

  .slick-slide {
    padding: 4px; /* スライダーのスライド間の余白を調整 */
  }

  .slick-prev,
  .slick-next {
    z-index: 2;
    font-size: 1rem; /* 前後の矢印のサイズを調整 */
  }

  #works p {
    font-size: 14px; /* 文字サイズを調整 */
  }
}


/*hobby*/

#hobby {
  padding: 2rem;
  margin: 50px 0;
  border: 1px solid #ccc;
}

.slick-arrow {
  z-index: 2;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

#double-slider {
  width: 60%;
  margin: 0 auto;
}

.main-slider {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.slider-item {
  width: 50%;
  display: inline-block;
  flex: 1; /* 幅を均等に分割します */
  margin: 10px 5px;
  overflow: hidden; /* 画像がはみ出さないようにします */
  position: relative;
  padding-top: 60%; /* アスペクト比を保つための余白を設定します */
}

.main-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hobby h2 {
  line-height: 18rem;
}

.txt {
  line-height: 3rem;
}

.text-slider {
  width: 80%;
  margin: 30px auto 0;
  padding: 30px 0;
  text-align: center;
  border-radius: 10px;
  line-height: 2rem;
}

.txt h3{
  text-align: center;
}

/*NEWS欄*/

#news {
  padding: 2rem;
  margin: 50px 0;
  border: 1px solid #ccc;
}


#news h2 {
  line-height: 15rem;
}

/* 記事（dt）のスタイル */
#news dl dt {
  font-weight: bold;
  margin-bottom: 5px;
}

/* 記事内容（dd）のスタイル */
#news dl dd {
  margin-bottom: 15px;
  text-align: center;
}
/* スタイリッシュな線を追加 */
#news dl {
  position: relative;
}

#news dl:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -1px;
  border-bottom: 1px solid #ddd;
}

/* フッターのスタイル */
footer {
  background: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.sns {
  display: inline-block;
  font-size: 2rem;
  margin-top: 10px;
}

.sns a {
  color: #fff;
  margin: 0 10px;
  transition: all 0.3s;
}

.sns a:hover {
  color: skyblue;
}

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#back-to-top.show {
  opacity: 1;
}
/* タブレットサイズまでのスタイル */

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }

  header {
    height: 80px;
  }

  header h1 {
    top: 24px;
    left: 25px;
  }

  #drawer_toggle {
    display: none;
  }
  main {
    padding-bottom: 50px;
  }

  main h2 {
    padding-left: 20px;
  }
}
